body{
  flex: auto;
  border-radius: 8px;
}
.Image {
height: 45px;
width: 60px;
background-color: white;
border-radius: 10px;
box-shadow: 2px 2px 5px whitesmoke;
}
.correct::after {
  content: '✔️';
  color: green;
  margin-left: 10px;
}
.credits{
  text-decoration: none;
  color: black;
  text-align: center;
  justify-content: center;
}
/* CSS */
.btn{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  background-color: transparent;
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.btn-text{
  text-decoration: none;
  color: white;
}

.carousel-item img {
  height: 44vw; /* Adjust the height as per your requirement */
}
.slide-animation {   transition: transform 0.5s ease; }

.container{
  width: 900px;
  max-width: 80%;
background: #d6e6ff;
box-shadow:  20px 20px 60px #4e5765,
             -20px -20px 60px #646f7a;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: #5468ff 0px 0px 10px 2 px ;
}
.btn1{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.answer-buttons{
  display: grid;
  grid-template-columns: repeat(2,Adjust);
  gap: 10px;
  margin : 20px 0 ;
}
.btn1:active{
  background-color: gainsboro;
  transition: 0.7s;
  }
.btn1:hover{
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 6);
}
.controls{
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}
.hide{
  display: none;
}
.Text{
  font-size: 24px;
  justify-content: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#preloader{
  background: #fff url(loading.gif) no-repeat center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar-brand{
  word-spacing:5px;
  text-shadow: #fff 2px 2px 6px -5px;
  font-family: cursive;
}

.footer{
  background: #333;
  position: relative;
  width: 100%;
  background: #3c3e41;
  min-height: 80px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}



@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
.editorial {
  margin:0;
  padding:0;
  background-color:#03396c;
  display: block;
  width: 100%;
  height: 60px;
  max-height: 25px;
  z-index:5;
  bottom:0;
  position:absolute;
  left:0px;
  float:left;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
.score-container {
  width: 400px;
  margin: 30px auto;
  }

 
   
    .about {
      background:#a79fff;
      padding: 100px 0 20px 0;
      text-align: center;
  }
   
  .about h1 {
      font-size: 2.5rem;
      color: rgb(0, 0, 0);
      margin-bottom: 20px;
  }
   
  .about p {
      font-size: 1rem;
      color: #000000;
      max-width: 800px;
      margin: 0 auto;
  }
   
  .about-info {
      margin: 2rem 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
  }
   
  .about-img {
      width: 20rem;
      height: 20rem;
   
  }
   
  .about-img img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: contain;
  }
   
  .about-info p {
      font-size: 1.3rem;
      margin: 0 2rem;
      text-align: justify;
  }
   
  button {
      border: none;
      outline: 0;
      padding: 10px;
      margin: 2rem;
      font-size: 1rem;
      color: white;
      background-color: #2c2c2c;
      text-align: center;
      cursor: pointer;
      width: 15rem;
      border-radius: 4px;
  }
   
  button:hover {
      background-color: #ffffff51;
  }
  .triangle {
    position: relative;
    background: #040507;
    height: 1vh;
  }
  
  .triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 100px;
    border-color: #2c3e50 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }
